/*
https://browserhtml.etherpad.mozilla.org/chameleon-chrome
https://browserhtml.etherpad.mozilla.org/4
http://www.alexa.com/topsites
*/

:root {
  --theme-background: #fff;
  --theme-foreground: #444;
}

[theme="youtube.com"] {
  --theme-foreground: #cc181e;
}

[theme="yahoo.com"] {
  --theme-foreground: #2d1152;
}

[theme="facebook.com"] {
  --theme-background: #3A5795;
  --theme-foreground: #fff;
}

[theme="biadu.com"] {
  --theme-foreground: #2529d8;
}

[theme="amazon.com"] {
  --theme-foreground: #e47911;
}

[theme-"taobao.com"] {
  --theme-foreground: #ff4400;
}

[theme="qq.com"] {
  --theme-foreground: #5da4e6;
}

[theme="linkedin.com"] {
  --theme-background: #2e2e2e;
  --theme-foreground: #d7d7d7;
}

[theme="sina.com.cn"] {
  --theme-background: #ff8500;
  --theme-foreground: #fff;
}

[theme="instagram.com"] {
  --theme-background: #5380a5;
  --theme-foreground: #fff;
}

[theme="github.com"] {
  --theme-background: #F5F5F5;
  --theme-foreground: #444;
}

[theme="imgur.com"] {
  --theme-background: #2b2b2b;
  --theme-foreground: #fff;
}

[theme="cnn.com"] {
  --theme-background: #0c0c0c;
  --theme-foreground: #fff;
}

[theme="slideshare.net"] {
  --theme-background: #313131;
  --theme-foreground: #fff;
}

[theme="deviantart.com"] {
  --theme-background: #475c4d;
  --theme-foreground: #fff;
}

[theme="soundcloud.com"] {
  --theme-background: #383838;
  --theme-foreground: #fff;
}

[theme="mashable.com"] {
  --theme-background: #00aeef;
  --theme-foreground: #fff;
}

[theme="daringfireball.net"] {
  --theme-background: #4a525a;
  --theme-foreground: #fff;
}

[theme="firewatchgame.com"] {
  --theme-background: #2D102B;
  --theme-foreground: #EF4338;
}

[theme="whatliesbelow.com"] {
  --theme-background: #74888B;
  --theme-foreground: #FFFFFF;
}

[theme="supertimeforce.com"] {
  --theme-background: #051224;
  --theme-foreground: #2EBCEC;
}